/*------------
 google font  
 -------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/*------- 
default css
-------------------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1;
}

.h-btn,.quote-form button{
    background-color: #E76F51;
    color: #fff;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 5px;
    text-decoration: none;
}
img{
    width: 100%;
}
.h-btn:hover{
    color: #fff;
}
/* section title  */
.section-title h3{
    font-size: 48px;
}
.section-title p {
    color: #E76F51;
    margin-bottom: -5px;
    font-weight: 600;
}
.section-title > span {
    background-color: #E76F51;
    width: 60px;
    height: 2px;
    display: inline-block;
}
.section-title h3 span{
    color: #E76F51;
}
.ptb-35{
    padding: 35px 0;
}
.ptb-40{
    padding: 40px 0;
}
.ptb-50{
    padding: 50px 0;
}



/*-----------
 header css 
 --------------------*/
.header-area{
    background-color: #264653;
}
.logo a {
    text-decoration: none;
    color: #E76F51;
    font-size: 36px;
    font-variant: small-caps;
}
.logo a span{
    color: #fff;
}
.hero-text{
    color: #E0E0E0;
}
.hero-text h2 {
    font-size: 48px;
    line-height: 1;
}
.hero-text p{
    line-height: 24px;
}

/*---------
 feature area css
 ------------------------ */
.feature-gray{
    filter: grayscale(100%);
}

/*-----------
 blog css
 -------------------  */
.single-blog h4{
    font-size: 24px;
}
.single-blog p{
    color: #6C6C6C;
    line-height: 2;
}

/*----------
 testimonial css
 --------------------- */
.testimonial-box p{
    color: #6C6C6C;
    letter-spacing: .2px;
    line-height: 2;
}
.testimonial-box h4{
    color: #2DAAF1;
    font-size: 14px;
    font-weight: 600;
}
.testimonial-box span{
    font-size: 14px;
}
.client-rating i {
    color: #E67C40;
    margin-bottom: 15px;
    font-size: 20px;
}
img.client-img {
    width: 153px;
    height: 153px;
    border-radius: 50%;
}

/*-------
 faq css 
 -----------------*/

.faq-accordion .accordion-button{
    font-size: 20px;
    color: #383838;
    font-weight: 500;
}
.faq-accordion .accordion-body{
    color: #7E848C;
    line-height: 2;
}


/*-------
 quote css
 -------------- */
.quote-form label {
    margin-bottom: 10px;
}
.quote-form input, .quote-form textarea {
    width: 320px;
    outline: none;
    height: 45px;
    padding: 10px;
    margin-bottom: 15px;
    border: 0;
    border-bottom: 2px solid #E76F51;
    border-radius: 5px;
}
.quote-form button{
    outline: none;
    border: none;
}
.quote-bg{
    position: relative;
}
.quote-bg::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .5;
}


/*---------
 footer css 
 ----------------*/
.footer-area{
    background-color: #0B0D17;
}
.footer-links a {
    color: #fff;
    text-decoration: none;
    padding: 15px 5px;
}
.footer-links ul{
    padding: 0;
    margin: 0;
}
.footer-links ul li{
    display: inline-block;
    list-style-type: none;
}
.footer-links li a {
    display: inline-block;
}
.app-img img {
    width: 120px;
}




/*---------
 responsive media query css
 ---------------------------------- */
 /* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .navbar-light .navbar-toggler {
        margin-top: -40px;
    }
    .hero-text h2 {
        font-size: 36px;
    }
    .section-title h3 {
        font-size: 36px;
    }
}